/*!* Bootstrap v5.3.0 (https://getbootstrap.com/)
* Copyright 2011-2023 The Bootstrap Authors
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0163ee;
    --bs-secondary: #656e79;
    --bs-success: #0b8447;
    --bs-info: #007faa;
    --bs-warning: #ff8c00;
    --bs-danger: #e22c2f;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
    --bs-primary-rgb: 1, 99, 238;
    --bs-secondary-rgb: 101, 110, 121;
    --bs-success-rgb: 11, 132, 71;
    --bs-info-rgb: 0, 127, 170;
    --bs-warning-rgb: 255, 140, 0;
    --bs-danger-rgb: 226, 44, 47;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 52, 58, 64;
    --bs-primary-text-emphasis: #00285f;
    --bs-secondary-text-emphasis: #282c30;
    --bs-success-text-emphasis: #04351c;
    --bs-info-text-emphasis: #003344;
    --bs-warning-text-emphasis: #663800;
    --bs-danger-text-emphasis: #5a1213;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cce0fc;
    --bs-secondary-bg-subtle: #e0e2e4;
    --bs-success-bg-subtle: #cee6da;
    --bs-info-bg-subtle: #cce5ee;
    --bs-warning-bg-subtle: #ffe8cc;
    --bs-danger-bg-subtle: #f9d5d5;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #99c1f8;
    --bs-secondary-border-subtle: #c1c5c9;
    --bs-success-border-subtle: #9dceb5;
    --bs-info-border-subtle: #99ccdd;
    --bs-warning-border-subtle: #ffd199;
    --bs-danger-border-subtle: #f3abac;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: "DM Sans", sans-serif !important;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: "DM Sans", sans-serif !important;
    /*--bs-body-font-size: 1.25rem;*/
    --bs-body-font-size: 0.7rem;
    --bs-body-font-weight: 300;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #495057;
    --bs-link-color-rgb: 73, 80, 87;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #3ac0c9;
    --bs-link-hover-color-rgb: 58, 192, 201;
    --bs-code-color: #db1a74;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(1, 99, 238, 0.25);
    --bs-form-valid-color: #0b8447;
    --bs-form-valid-border-color: #0b8447;
    --bs-form-invalid-color: #e22c2f;
    --bs-form-invalid-border-color: #e22c2f
}

*,*::before,*::after {
    box-sizing: border-box
}

@media(prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width)solid;
    opacity: .25
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: mukta,serif;
    font-weight: 500;
    line-height: 1.3;
    color: var(--bs-heading-color)
}

h1,.h1 {
    /* font-size: calc(1.35rem + 1.2vw) */
    font-size: calc(1rem + 1.2vw)
}

@media(min-width: 1200px) {
    h1,.h1 {
        font-size:2.25rem
    }
}

h2,.h2 {
    font-size: calc(1.3rem + .6vw)
}

@media(min-width: 1200px) {
    h2,.h2 {
        font-size:1.75rem
    }
}

h3,.h3 {
    font-size: calc(1.275rem + .3vw)
}

@media(min-width: 1200px) {
    h3,.h3 {
        font-size:1.5rem
    }
}

h4,.h4 {
    font-size: calc(0.9rem + .3vw)
}

h5,.h5 {
    font-size: 1.15rem
}

h6,.h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem
}

ul {
    padding-left: 2rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

blockquote {
    margin: 0 0 1rem
}

small,.small {
    font-size: .875em
}

a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline
}

a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb)
}

a:not([href]):not([class]),a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

img,svg {
    vertical-align: middle
}

table {
    caption-side: bottom;
    border-collapse: collapse
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

tbody,tr,td,th {
    border-color: inherit;
    border-style: solid;
    border-width: 0
}

label {
    display: inline-block
}

button {
    border-radius: 0
}


button:focus:not(:focus-visible) {
    outline: 0
}

input,button,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button; /* This is for Safari and Chrome browsers*/
    -moz-appearance:button; /* This is for Mozilla Firefox browser*/
    appearance:button; /*defined property value */
}

button:not(:disabled) {
    cursor: pointer
}

textarea {
    resize: vertical
}

iframe {
    border: 0
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.display-4 {
    font-size: calc(1.45rem + 2.4vw);
    font-weight: 300;
    line-height: 1.3
}

@media(min-width: 1200px) {
    .display-4 {
        font-size:3.25rem
    }
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.125rem
}

.blockquote>:last-child {
    margin-bottom: 0
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.img-thumbnail {
    padding: .5rem;
    background-color: #f8f9fa;
    border: 0 solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    max-width: 100%;
    height: auto
}

.container {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media(min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container {
        max-width:960px
    }

    .col-md-4 {
        flex: none;
        width: 33.33333333% !important;
    }
    
    .offset-md-2 {
        margin-left: 16.66666667% !important;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

@media(min-width: 1400px) {
    .container {
        max-width:1320px
    }
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

[class*="col-"] {
    width: 100%;
}

.col-md5-special {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    margin-bottom: 15px;
}

[class*="mb-md-"] {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.g-4 {
    --bs-gutter-x: 1.5rem
}

.g-4 {
    --bs-gutter-y: 1.5rem
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex:none;
        width: 50%
    }
}

@media (min-width: 768px) {
    .col-md {
        flex:1 0
    }

    .col-md-3 {
        flex: none;
        width: 25%
    }

    .col-md-4 {
        flex: none;
        width: 33.33333333%
    } 

    .col-md-5-special {
        flex: none;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: none;
        width: 50%
    }

    .offset-md-2-special {
        margin-left: 16.66666667% 
    } 

    p {
        font-size: 1.4em;
    }

    .navbar .navbar-brand>img {
        max-height: 50px;
    }

    .site-footer {
        font-size: 0.65rem !important;
    }
}

@media(min-width: 992px) {
    .col-lg-4 {
        flex:none;
        width: 33.33333333%
    }

    .col-lg-5 {
        flex: none;
        width: 41.66666667%
    }

    .col-lg-6 {
        flex: none;
        width: 50%
    }

    .col-lg-8 {
        flex: none;
        width: 66.66666667%
    }

    .col-lg-9 {
        flex: none;
        width: 75%
    }

    .col-lg-10 {
        flex: none;
        width: 83.33333333%
    }

    .col-lg-12 {
        flex: none;
        width: 100%
    }

    .offset-lg-3 {
        margin-left: 25%
    }

    p {
        font-size: 1.6em;
    }

    .navbar .navbar-brand>img {
        max-height: 50px;
    }

    .site-footer {
        font-size: 0.75rem !important;
    }
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.075);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color)
}

.table>:not(caption)>*>* {
    padding: .75rem;
    color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)))
}

.table>tbody {
    vertical-align: inherit
}

.table-bordered>:not(caption)>* {
    border-width: var(--bs-border-width)0
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 var(--bs-border-width)
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.form-control {
    display: block;
    width: 100%;
    padding: .875rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 2px solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #80b1f7;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 0 .25rem rgba(1,99,238,.25)
}

.form-control::-webkit-date-and-time-value {
    min-width: 85px;
    height: 1.5em;
    margin: 0
}

.form-control::-webkit-datetime-edit {
    display: block;
    padding: 0
}

.form-control::-moz-placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}

.form-control::placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}

.form-control:disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1
}

.form-control::file-selector-button {
    padding: .875rem 1rem;
    margin: -.875rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end:1rem;color: var(--bs-body-color);
    background-color: var(--bs-tertiary-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width:2px;border-radius: 0;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--bs-secondary-bg)
}

textarea.form-control {
    min-height: calc(1.5em + 1.75rem + calc(2px * 2))
}

.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.875rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-font-weight: 300;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 2px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y)var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width)solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    box-shadow: var(--bs-btn-box-shadow);
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color)
}

.btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-box-shadow),var(--bs-btn-focus-box-shadow)
}

.btn:first-child:active,.btn.show {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
    box-shadow: var(--bs-btn-active-shadow)
}

.btn:first-child:active:focus-visible,.btn.show:focus-visible {
    box-shadow: var(--bs-btn-active-shadow),var(--bs-btn-focus-box-shadow)
}

.btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
    box-shadow: none
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3ac0c9;
    --bs-btn-border-color: #3ac0c9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0154ca;
    --bs-btn-hover-border-color: #014fbe;
    --bs-btn-focus-shadow-rgb: 39, 122, 241;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #014fbe;
    --bs-btn-active-border-color: #014ab3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0163ee;
    --bs-btn-disabled-border-color: #0163ee
}

/*.collapse:not(.show) {
    display: none;
}*/


/* start - hamburger toggler */
label.ham-input {
    display: block;
    background: #ffffff; 
    width: 40px; 
    height: 50px; 
    position: relative; 
    margin-left: auto;
    border-radius: 4px; 
    cursor: pointer;
}

.ham-line {
    position: absolute;
    left: 10px;
    height: 4px;
    width: 45px;
    background: #000000;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
}
.ham-line:nth-child(1) { top: 12px; }
.ham-line:nth-child(2) { top: 24px; }
.ham-line:nth-child(3) { top: 36px; }

input.ham-input {
    display: none;
}

.navbar-collapse {
    display: none !important;
}

.ham-collapse:checked ~ .navbar-collapse {
    display: inline !important;
    text-align: right;
}

.ham-collapse:checked + .ham-input .ham-line:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
 }
 
 .ham-collapse:checked + .ham-input .ham-line:nth-child(2){
    opacity:0;
 }
 
 .ham-collapse:checked + .ham-input .ham-line:nth-child(3){
    transform: translateY(-12px) rotate(45deg);
 }

/* end - hamburger toggler */

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

@media(prefers-reduced-motion:reduce) {
    .collapsing {
        transition: none
    }
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y)var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

@media(prefers-reduced-motion:reduce) {
    .nav-link {
        transition: none
    }
}

.nav-link:hover,.nav-link:focus {
    color: var(--bs-nav-link-hover-color)
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(1,99,238,.25)
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: #343a40;
    --bs-navbar-hover-color: #3ac0c9;
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: #3ac0c9;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: #0163ee;
    --bs-navbar-brand-hover-color: #0163ee;
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.25rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y)var(--bs-navbar-padding-x)
}

.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap
}

.navbar-brand:hover,.navbar-brand:focus {
    color: var(--bs-navbar-brand-hover-color)
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color)
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y)var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width)solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition)
}

@media(prefers-reduced-motion:reduce) {
    .navbar-toggler {
        transition: none
    }
}

.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)
}

@media(min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap:nowrap;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }

    label.ham-input {
        display: none !important;
    }
    
}

.card {
    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: 0;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.5rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: 0.5rem;
    --bs-card-cap-padding-y: 0.625rem;
    --bs-card-cap-padding-x: 1.25rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width)solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: var(--bs-card-box-shadow)
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card-body {
    flex: auto;
    padding: var(--bs-card-spacer-y)var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color)
}

.card-text:last-child {
    margin-bottom: 0
}

.card-img-top {
    width: 100%
}

.card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius)
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg)
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1;
        transform: none
    }
}

@keyframes placeholder-glow {
    50% {
        opacity: .2
    }
}

@keyframes placeholder-wave {
    100% {
        -webkit-mask-position: -200% 0%;
        mask-position: -200% 0%
    }
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}

.align-middle {
    vertical-align: middle!important
}

.overflow-hidden {
    overflow: hidden!important
}

.d-block {
    display: block!important
}

.d-flex {
    display: flex!important
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important
}

.h-100 {
    height: 100%!important
}

.flex-column {
    flex-direction: column!important
}

.flex-grow-1 {
    flex-grow: 1!important
}

.justify-content-center {
    justify-content: center!important
}

.align-items-center {
    align-items: center!important
}

.m-0 {
    margin: 0!important
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important
}

.mt-4 {
    margin-top: 1.5rem!important
}

.mt-5 {
    margin-top: 3rem!important
}

.mb-0 {
    margin-bottom: 0!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.mb-5 {
    margin-bottom: 3rem!important
}

.ms-auto {
    margin-left: auto!important
}

.p-2 {
    padding: .5rem!important
}

.p-4 {
    padding: 1.5rem!important
}

.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}

.pt-3 {
    padding-top: 1rem!important
}

.pb-4 {
    padding-bottom: 1.5rem!important
}

.text-center {
    text-align: center!important
}

.text-decoration-none {
    text-decoration: none!important
}

.text-uppercase {
    text-transform: uppercase!important
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important
}

.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important
}

.text-muted {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important
}

.rounded {
    border-radius: var(--bs-border-radius)!important
}

.rounded-pill {
    border-radius: var(--bs-border-radius-pill)!important
}

@media(min-width: 576px) {
    .px-sm-5 {
        padding-right:3rem!important;
        padding-left: 3rem!important
    }
}

@media(min-width: 768px) {
    .mb-md-0 {
        margin-bottom:0!important;
        width: 90% !important
    }

    .w-50 {
        width: 50% !important;
    }

    .p-md-4 {
        padding: 1.5rem!important
    }

    .py-md-5 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important
    }
}

@media(min-width: 992px) {
    .justify-content-lg-center {
        justify-content:center!important
    }

    .justify-content-lg-between {
        justify-content: space-between!important
    }

    .align-items-lg-center {
        align-items: center!important
    }

    .order-lg-1 {
        order: 1!important
    }

    .order-lg-2 {
        order: 2!important
    }

    .mb-lg-0 {
        margin-bottom: 0!important
    }

    .mb-lg-3 {
        margin-bottom: 1rem!important
    }

    .mb-lg-5 {
        margin-bottom: 3rem!important
    }

    .mb-lg-6 {
        margin-bottom: 5rem!important
    }

    .p-lg-5 {
        padding: 3rem!important
    }

    .px-lg-3 {
        padding-right: 1rem!important;
        padding-left: 1rem!important
    }

    .py-lg-5 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important
    }

    .py-lg-6 {
        padding-top: 5rem!important;
        padding-bottom: 5rem!important
    }

    .pt-lg-0 {
        padding-top: 0!important
    }
}

@media(min-width: 1200px) {
    .py-xl-6 {
        padding-top:5rem!important;
        padding-bottom: 5rem!important
    }
}

html {
    font-size: 1.5rem
}

@media(min-width: 992px) {
    html {
        font-size:1.125rem
    }
}

ul {
    margin-bottom: 1.5rem
}

li {
    margin-bottom: .25rem
}

label {
    line-height: 1.75
}

.blockquote {
    color: #495057;
    line-height: 1.6;
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.blockquote::before {
    content: "\f10d";
    display: block;
    font-family: "font awesome 5 free";
    font-size: .875rem;
    font-weight: 600;
    height: 0;
    left: -1.5rem;
    top: -.25rem;
    position: relative
}

.blockquote.text-center::before {
    left: 0;
    top: -.5rem;
    margin: 0 auto 1.5rem
}

cite {
    font-style: normal
}

a {
    transition: color .2s ease-in-out
}

.avatar {
    border-radius: 50%
}

.avatar-md {
    width: 64px;
    height: 64px
}

.img-thumbnail {
    transition: all .2s ease-in-out
}

a:hover .img-thumbnail {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transform: translateY(-5px)
}

.btn {
    letter-spacing: 1px;
    text-transform: uppercase
}

.btn:hover {
    box-shadow: none
}

.navbar .navbar-brand>img {
    max-height: 30px; 
    width: auto;
}

.navbar .nav-link {
    text-transform: uppercase
}

@media(max-width: 991.98px) {
    .navbar .nav-link {
        padding-top:1rem;
        padding-bottom: 1rem
    }

    .navbar .nav-link {
        border-bottom: 1px solid #e9ecef
    }
}

@media(min-width: 992px) {
    .navbar {
        font-size:.875rem
    }
}

.card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all .2s ease-in-out
}

.card-hover:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transform: translateY(-3px)
}

.card-title a {
    color: #212529
}

.card-title a:hover,.card-title a:focus {
    color: #0163ee
}

.bg-skew {
    position: relative
}

.bg-skew::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1
}

.bg-skew-light::before {
    background-color: #f8f9fa
}

.divider {
    border-bottom: 2px solid #0163ee;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 3rem
}

body {
    touch-action: pan-x pan-y
}

button.hamburger {
    outline: none
}


.navbar-brand svg {
    height: 40px
}

.card-img-top {
    height: 230px;
    -o-object-fit: cover;
    object-fit: cover
}

/*.navbar-brand>img {
    max-height: 50px;
    height: 50px
}*/

.blockquote::before {
    font-family: "font awesome 5 pro"
}

html {
    scroll-behavior: smooth
}

.site-header {
   max-width: 100%;
}

.site-footer {
    font-size: 0.45rem
}

.img-thumbnail {
    padding: .5rem;
    background-color: #f8f9fa;
    border: 0 solid #dee2e6;
    border-radius: .375rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all .2s ease-in-out
}

.btn {
    text-transform: none
}

.navbar-nav .nav-link {
    text-transform: none
}

.grid {
    display: grid;
    overflow: hidden;
    position: relative
}

.bg-skew {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.bg-skew::before {
    transform: skewY(-5deg);
    transform-origin: center center
}

.clutch-awards {
    max-width: 160px
}

.hero-awards {
    max-width: 120px;
    margin-top: 24px
}

a {
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
    text-underline-offset: .125em
}

a:hover {
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid
}
